<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= place.placename %> | Rotating Wheels
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to right, #000000, #03345a, #373434);
            padding-top: 50px;
        }


        .blog-container {
            max-width: 1100px;
            margin: auto;
            background: #2a2a2a;
            padding: 30px;
            box-shadow: 0 0 50px rgba(87, 127, 238, 0.4);
            border-radius: 20px 20px 0px 0px;
        }

        .blog-title {
            font-size: 3rem;
            letter-spacing: 2px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            margin-bottom: 10px;
            color: wheat;
        }

        .place-name {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
            color: rgb(226, 221, 216);
        }

        .blog-author {
            text-align: center;
            font-size: 0.95rem;
            color: #bbb;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
        }

        .cover_photo_container {
            text-align: center;
        }

        .cover-photo {
            width: 70%;
            height: 450px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 30px;
        }

        .blog-body {
            white-space: pre-wrap;
            font-size: 1.1rem;
            line-height: 1.7;
            color: #e0e0e0;
        }

        .ytLink_container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        iframe {
            width: 40%;
            height: 250px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
        }

        .footer {
            height: 30vh;
        }

        @media (max-width: 1000px) {
            body {
                padding-top: 45px;
            }

            .blog-container {
                padding: 30px 10px;
            }

            .blog-title {
                font-size: 25px;
            }

            .place-name {
                font-size: 35px;
            }

            .blog-author {
                font-size: 16px;
            }

            .cover-photo {
                width: 90%;
                height: 350px;
            }

            .ytLink_container {
                justify-content: center;
            }

            iframe {
                width: 50%;
                height: 260px;
            }
        }

        @media (max-width: 780px) {
            iframe {
                width: 65%;
                height: 260px;
            }
        }

        @media (max-width: 580px) {
            .cover-photo {
                width: 100%;
                height: 280px;
            }

            iframe {
                width: 80%;
                height: 230px;
            }
        }

        @media (max-width: 400px) {
            .cover-photo {
                height: 220px;
            }

            iframe {
                width: 80%;
                height: 180px;
            }

            .blog-author {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <%- include('navbar') %>
        <div class="blog-container">
            <h1 class="blog-title">
                <%= place.placename %>
            </h1>
            <h3 class="place-name">
                <%= place.placetitle %>
            </h3>
            <div class="blog-author">
                <span>
                    Located At
                </span>
                <a href="/explore/<%= country %>/<%= place.stateID.statename %>"
                    style="color: #2082de; font-weight: bold;">
                    <%= place.stateID.statename || "Anonymous" %>
                </a>
                <span>
                    | <b style="color: wheat; font-weight: bold;">
                        <%= place.distancefromcity %>
                    </b>
                </span>
                KMs from
                <span style="color: wheat; font-weight: bold;">
                    <%= place.stateID.cityname %>
                </span>
            </div>
            <div class="cover_photo_container">
                <img src="<%= place.placethumbnail %>" alt="Cover Photo" class="cover-photo">
            </div>
            <div class="blog-body">
                <%- place.placedescription %>
            </div>

            <% if (place.youtubeLink) { %>
                <div class="ytLink_container">
                    <iframe src="<%= place.youtubeLink %>" allowfullscreen></iframe>
                </div>
                <% } %>


        </div>
        <%- include('footer') %>
</body>

</html>